h1 {
  text-align: center;
}

.photo_square {
  /*position: relative;*/
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 4%;
  float: left;
}

.photo_square img {
  height: 100%;
  width: auto;
}
